<div xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-filter" class="col-12">
        <div class="row">
            <div class="col-6">
                <div>
                    <label for="achats" class="form-check-label" data-th-text="#{filter.radio.buy}"></label>
                    <input type="radio" name="achatVente" id="achats" class="form-check-input" checked>
                </div>
                <div>
                    <label for="typeAchat" class="form-label" style="display: none"></label>
                    <select name="typeAchat" id="typeAchat" class="form-select">
                        <option value="1" data-th-text="#{filter.radio.buy.select.1}" selected ></option>
                        <option value="2" data-th-text="#{filter.radio.buy.select.2}"></option>
                        <option value="3" data-th-text="#{filter.radio.buy.select.3}"></option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <label for="ventes" class="form-check-label" data-th-text="#{filter.radio.sell}"></label>
                    <input type="radio" name="achatVente" id="ventes" class="form-check-input">
                </div>
                <div>
                    <label for="typeVente" class="form-label" style="display: none"></label>
                    <select name="typeAchat" id="typeVente" class="form-select" disabled>
                        <option value="1" data-th-text="#{filter.radio.sell.select.1}"></option>
                        <option value="2" data-th-text="#{filter.radio.sell.select.2}"></option>
                        <option value="3" data-th-text="#{filter.radio.sell.select.3}"></option>
                    </select>
                </div>
            </div>
        </div>
</div>