<div xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-filter" class="col-md-6 col-sm-12 customBox">

    <form action="" th:object="${filterForm}">
        <div class="row">
            <div class="col-md-9">
                <div class="row p-2">
                    <label for="search-bar" class="col-form-label col-sm-3" data-th-text="#{filter.label}">:</label>
                    <div class="col-sm-9">
                        <input type="text" id="search-bar" th:field="*{nomArticle}" data-th-placeholder="#{filter.placeholder}" class="form-control">
                    </div>
                </div>
                <div class="row p-2">
                    <label for="category-select" class="col-form-label col-sm-3" data-th-text="#{filter.category}">:</label>
                    <div class="col-sm-9">
                        <select id="category-select" th:field="*{categorie}" class="form-select">
                            <option value="" th:text="#{filter.all_categories}"></option>
                            <option th:each="categorie : ${categorieList}"
                                    th:value="${categorie.no_categorie}"
                                    th:text="${categorie.libelle}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="p-2">
                    <button id="search-btn" class="btn btn-primary w-100" data-th-text="#{filter.search_button}"></button>
                </div>
                <div class="p-2">
                    <button id="reset-btn" class="btn btn-outline-secondary w-100" data-th-text="#{filter.reset_button}"></button>
                </div>
            </div>

            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <div data-th-replace="~{fragments/filter/fragment-filter-achats-ventes :: frag-filter}"></div>
            </th:block>
        </div>
    </form>
</div>