<header xmlns:th="http://www.thymeleaf.org" class="header"
        data-th-fragment="frag-header(navigation)">
    <div class="container">
        <div  class="d-flex flex-wrap justify-content-center py-3">
            <section class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span>
                    <a th:href="@{/}">
                        <img th:src="@{/images/logoECE.png}" alt="Logo ECE" height="60" width="60" class="logoSite">
                    </a>
                </span>
                <span>
                    <h3 class="m-2" data-th-text="#{header.title.h1}"></h3>
                </span>
                <!-- 言語切り替え用の国旗 -->
                <span class="d-flex align-items-center justify-content-center gap-2">
                    <a th:href="@{/?language=fr}">
                        <img th:src="@{/images/French.webp}" alt="Français" height="30" width="30">
                    </a>
                    <a th:href="@{/?language=en}">
                        <img th:src="@{/images/English.webp}" alt="English" height="30" width="30">
                    </a>
                </span>
            </section>
            <!-- Intégration du fragment de navigation -->
            <section class="d-flex align-items-center justify-content-center">
                <nav data-th-replace="${navigation}"></nav>
            </section>

            <section class="d-flex align-items-center justify-content-center">
                <div class="headerInfoBox">
                    <span><strong data-th-text="#{header.title.today}"></strong><span th:text="${' : ' + #dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span></span>
                    <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                        <span><strong data-th-text="#{header.title.user}"> :</strong><span data-th-text="${' : ' + #authentication.name}"></span></span>
                        <span><strong data-th-text="#{header.title.credit}"> :</strong><span data-th-text="${' : '}"></span></span>
                    </th:block>
                </div>

            </section>
        </div>
    </div>
</header>