<header xmlns:th="http://www.thymeleaf.org" class="header"
        data-th-fragment="frag-header(navigation)">
    <div class="container">
        <div  class="d-flex flex-wrap justify-content-center py-3">
            <section class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span><img th:src="@{/images/logoECE.png}" alt="Logo ECE" height="100" width="100" class="logoSite"></span>
                <span><h3 class="m-2">ENI - CDA - Enchères</h3></span>
            </section>
            <!-- Intégration du fragment de navigation -->
            <section class="d-flex align-items-center justify-content-center">
                <nav data-th-replace="${navigation}"></nav>
            </section>
        </div>
    </div>
</header>