.logoSite{
    border-radius: 10px;
    border: 1px solid black;
}

.header{
    border-bottom: 2px lightgrey solid;
    -webkit-box-shadow: 0px 5px 12px 4px rgba(0,0,0,0.37);
    box-shadow: 0px 5px 12px 4px rgba(0,0,0,0.37);
    background: lightgrey;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main{
    flex:1;
}

.footer{
    background: lightgrey;
    text-align: center;
    padding: 10px 0;
    border-top: 2px lightgrey solid;
    -webkit-box-shadow: 0px -5px 12px 4px rgba(0,0,0,0.37);
    box-shadow: 0px -5px 12px 4px rgba(0,0,0,0.37);
}