<!DOCTYPE html>
<!-- Mise en place du layout -->
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layout/layout :: layout(titrePage=~{:: title},
contenuPage=~{:: main},
ressources=~{})}">
<head>
    <meta charset="UTF-8">
    <title data-th-text="ERROR"></title>
    <!-- Ajout de CSS demo-form.css -->
</head>
<body>
<main>
    <h1 class="cards" data-th-text="Erreur + ${status}"></h1>
    <form>
        <ul class="flex-outer cards">
            <li data-th-switch="${status}">
                <label data-th-case="403" data-th-text="#{error.http.label.403}"></label>
                <label data-th-case="404" data-th-text="#{error.http.label.404}"></label>
                <label data-th-case="500" data-th-text="#{error.http.label.500}"></label>
                <label data-th-case="*" data-th-text="#{error.http.label.other}"></label>
            </li>
            <li><a data-th-href="@{/}" data-th-text="#{error.http.button}"></a></li>
        </ul>
    </form>
</main>
</body>
</html>
