<!DOCTYPE html>
<html lang="fr" xmlns:th="http://wwww.thymeleaf.org" data-th-replace="~{layout/layout :: layout(contenuPage=~{:: .container}
                                                                        , titrePage=~{:: title}
                                                                        , ressources=~{})}">
<head>
    <!-- Accueil comme titre de page -->
    <title>Enchères</title>
</head>

<body>
    <main class="container my-3">
        <h1 style="text-align: center">Liste des enchères</h1>

        <div class="my-3 row g-3">

                <div data-th-each="item : ${articleAVendreList}" class="col-lg-4 col-md-6 col-sm-12 p-3">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" data-th-text="${item.nom_article}"></h5>
                        <div class="card-text">
                            <p>Prix : <span data-th-text="${item.prix_initial}"></span>€<br>
                                Fin de l'enchère : <span data-th-text="${#temporals.format(item.date_fin_encheres, 'dd/MM/yyyy')}"></span>
                            </p>
                        </div>
                    </div>
                    </div>
                </div>

        </div>

    </main>
</body>
</html>