<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org" data-th-replace="~{layout/layout :: layout(contenuPage=~{:: .container}
                                                                        , titrePage=~{:: title}
                                                                        , ressources=~{})}">
<head>
    <!-- Accueil comme titre de page -->
    <title>Enchères</title>
</head>

<body>
    <main class="container">
        <h1 style="text-align: center">Site en cours de construction.</h1>
    </main>
</body>
</html>