<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layout/layout :: layout(contenuPage=~{:: .container}
                                                , titrePage=~{:: title}
                                                , ressources=~{:: #ressources}
                                                , scripts=~{:: #scripts})}">
<head>
    <!-- Accueil comme titre de page -->
    <title data-th-text="#{index.title}"></title>
    <th:block id="ressources">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                crossorigin="anonymous"></script>
    </th:block>
</head>

<body>
    <main class="container my-3">
        <h1 style="text-align: center" data-th-text="#{index.h1}">Liste des enchères</h1>

        <!-- Fenêtre de filtrage -->
        <div class="row my-3">

            <div data-th-replace="~{fragments/filter/fragment-filter-articles :: frag-filter}"></div>



            <div class="col-md-3"></div>
            <div class="col-md-3 customBox legende">
                <div class="d-flex justify-content-center">
                    <h5 data-th-text="#{index.legend.h5}"></h5>
                </div>
                <div class="d-flex justify-content-evenly">
                    <div>
                        <img data-th-src="@{/images/dollar-green.png}" alt="" height="30" width="30"><span data-th-text="#{index.legend.ongoing}"></span>
                    </div>
                    <div>
                        <img data-th-src="@{/images/dollar-red.png}" alt="" height="30" width="30"><span data-th-text="#{index.legend.finishd}"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-3" id="articles-cards">
            <!--ajouté "data-th-attr" pour js-->
        <div data-th-each="item : ${articleAVendreList}" class="col-lg-4 col-md-6 col-sm-12 p-3" >
            <div class="card customZoom" data-th-attr="data-category=${item.categorie}">

                <div class="card-body">
                    <div class="row">
                        <div class="col-10">
                            <h5 class="card-title" data-th-text="${item.nom_article}"></h5>
                        </div>
                        <div class="col-2">
                            <th:block data-th-if="${item.statut_enchere == 0}">
                                <a data-th-href="@{/articles/detail_enchere/{id}(id=${item.no_article})}"><img data-th-src="@{/images/hourglass.png}" alt="" height="30" width="30"></a>
                            </th:block>
                            <th:block data-th-if="${item.statut_enchere == 1}">
                                <a data-th-href="@{/articles/detail_enchere/{id}(id=${item.no_article})}"><img data-th-src="@{/images/dollar-green.png}" alt="" height="30" width="30"></a>
                            </th:block>
                            <th:block data-th-if="${item.statut_enchere == 2}">
                                <a data-th-href="@{/articles/detail_enchere/{id}(id=${item.no_article})}"><img data-th-src="@{/images/dollar-red.png}" alt="" height="30" width="30"></a>
                            </th:block>
                            <th:block data-th-if="${item.statut_enchere == 3}">
                                <img data-th-src="@{/images/delivered.png}" alt="" height="30" width="30">
                            </th:block>
                        </div>
                    </div>
                    <div class="card-text">
                        <span>Prix de départ : <span id="first-price" data-th-text="${item.prix_initial}"></span >€</span><br>
                        <th:block data-th-if="${item.meilleure_offre == 0}">
                            <span class="actual-offer">Offre actuelle : Pas d'offres pour l'instant.</span><br>
                        </th:block>
                        <th:block data-th-if="${item.meilleure_offre != 0}">
                            <span class="actual-offer">Offre actuelle : <span data-th-text="${item.meilleure_offre}"></span>€</span><br>
                        </th:block>
                        <span> Fin de l'enchère : <span class="final-date" data-th-text="${#temporals.format(item.date_fin_encheres, 'dd/MM/yyyy')}"></span></span><br>
                        <span>Vendeur :
                        <a class="seller-name" th:href="@{/utilisateurs/public/profil/{pseudo}(pseudo=${item.vendeur.Pseudo})}"
                           th:if="${#authorization.expression('isAuthenticated()')}"
                           th:text="${item.vendeur.pseudo}"></a>
                        <span class="seller-name" th:if="${!#authorization.expression('isAuthenticated()')}"
                              th:text="${item.vendeur.pseudo}"></span></span>

                    </div>
                </div>
            </div>
        </div>
        </div>



    </main>
    <div id="scripts">
        <script th:src="@{/js/ajaxFilter.js}"></script>
    </div>

</body>
</html>