<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layout/layout :: layout(titrePage=~{:: title},
contenuPage=~{:: main},
ressources=~{:: #ressources-css})}" >
<head>
    <title th:text="Connexion"></title>
</head>
<body>
<main class="container my-4">
    <h1 th:text="Connexion"></h1>

    <form th:action="@{/login}" method="post">
        <div class="cards" th:if="${param.error}" th:text="Errors"></div>
        <div th:if="${param.logout}" th:text="Déconnexion"></div>

            <div class="mb-3">
                <label for="inputUsername" class="form-label">Pseudo</label>
                <input id="inputUsername" type="text" name="username" class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="inputPwd" class="form-label">Mot de passe</label>
                <input id="inputPwd" type="password" name="password" class="form-control"/>
            </div>

            <button type="submit" class="btn btn-primary" th:text="Connexion" ></button>

            <span>coach_titi</span>
            <span>Pa$$w0rd</span>

    </form>
</main>
</body>
</html>
