<!DOCTYPE html>
<html lang="fr" xmlns:th="http://wwww.thymeleaf.org" data-th-replace="~{layout/layout :: layout(contenuPage=~{:: .container}
                                                                        , titrePage=~{:: title}
                                                                        , ressources=~{},
scripts=~{})}">
<head>
    <title data-th-text="#{profil.title}"></title>
</head>
<body>
<main class="container my-4">
    <h1 class="text-center mb-4" data-th-text="#{profil.title}"></h1>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col" data-th-text="#{profil.username}"></th>
            <th scope="col" data-th-text="#{profil.first.name}"></th>
            <th scope="col" data-th-text="#{profil.last.name}"></th>
            <th scope="col" data-th-text="#{profil.mail}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="utilisateur : ${utilisateurs}">
            <td th:text="${utilisateur.pseudo}"></td>
            <td th:text="${utilisateur.nom}"></td>
            <td th:text="${utilisateur.prenom}"></td>
            <td th:text="${utilisateur.email}"></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
