<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layout/layout :: layout(contenuPage=~{:: .container}
                                                                        , titrePage=~{:: title}
                                                                        , ressources=~{:: #ressources},
scripts=~{})}">
<head>
    <title data-th-text="#{profil.edit.title}"></title>
    <th:block id="ressources">
        <link rel="stylesheet" data-th-href="@{/css/profil.css}">
    </th:block>
</head>
<body>
<main class="container my-4">
    <div class="profilBox">
    <h1 class="text-center mb-4" data-th-text="#{profil.edit.title}"></h1>

    <div th:replace="~{fragments/forms/fragment-full-profil-form :: frag-form-profil(false)}"></div>
    </div>

</main>
</body>
</html>
