<!DOCTYPE html>
<html lang="fr" xmlns:th="http://wwww.thymeleaf.org" data-th-replace="~{layout/layout :: layout(contenuPage=~{:: .container}
                                                                        , titrePage=~{:: title}
                                                                        , ressources=~{})}">
<head>
    <title>Changer le mot de passe</title>
</head>
<body>
<main class="container my-4">
    <h1 class="text-center mb-4">Editer le profil</h1>

    <form th:action="@{/utilisateurs/edit/myProfile/myPassword}" method="post" th:object="${userPasswordForm}">

        <div th:replace="~{fragments/errors/fragment-errors :: frag-errors}"></div>

        <div class="mb-3">
            <label for="motDePasseActuel">Votre mot de passe</label>
            <input type="password" id="motDePasseActuel" th:field="*{motDePasseActuel}" required>
        </div>
        <div class="mb-3">
            <label for="motDePasseNouveau">Votre nouveau mot de passe</label>
            <input type="password" id="motDePasseNouveau" th:field="*{motDePasseNouveau}" required>
        </div>
        <div class="mb-3">
            <label for="motDePasseConfirmation">Votre mot de passe</label>
            <input type="password" id="motDePasseConfirmation" th:field="*{motDePasseConfirmation}" required>
        </div>

        <button type="submit" class="btn btn-primary">Sauvegarder</button>
    </form>
</main>
</body>
</html>
