<!DOCTYPE html>
<html lang="fr" xmlns:th="http://wwww.thymeleaf.org" data-th-replace="~{layout/layout :: layout(contenuPage=~{:: .container}
                                                                        , titrePage=~{:: title}
                                                                        , ressources=~{})}">
<head>
    <title>Liste des utilisateurs</title>
</head>
<body>
<main class="container my-4">
    <h1 class="text-center mb-4">Liste des utilisateurs</h1>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Pseudo</th>
            <th scope="col">Prénom</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="utilisateur : ${utilisateurs}">
            <td th:text="${utilisateur.pseudo}"></td>
            <td th:text="${utilisateur.nom}"></td>
            <td th:text="${utilisateur.prenom}"></td>
            <td th:text="${utilisateur.email}"></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
