<!DOCTYPE html>
<html lang="fr" xmlns:th="http://wwww.thymeleaf.org" data-th-replace="~{layout/layout :: layout(contenuPage=~{:: .container}
                                                                        , titrePage=~{:: title}
                                                                        , ressources=~{})}">
<head>
    <title>Changer le mot de passe</title>
</head>
<body>
<main class="container my-4">
    <h1 class="text-center mb-4" data-th-text="#{profil.edit.title}"></h1>

    <form th:action="@{/utilisateurs/edit/myProfile/myPassword}" method="post" th:object="${userPasswordForm}">

        <div th:replace="~{fragments/errors/fragment-errors :: frag-errors}"></div>

        <div class="mb-3">
            <label for="motDePasseActuel" class="form-label" data-th-text="#{login.message}"></label>
            <input type="password" id="motDePasseActuel" th:field="*{motDePasseActuel}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="motDePasseNouveau" class="form-label" data-th-text="#{login.message.new}"></label>
            <input type="password" id="motDePasseNouveau" th:field="*{motDePasseNouveau}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="motDePasseConfirmation" class="form-label" data-th-text="#{login.message}"></label>
            <input type="password" id="motDePasseConfirmation" th:field="*{motDePasseConfirmation}" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary" data-th-text="#{save_button}"></button>
    </form>
</main>
</body>
</html>
