<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layout/layout :: layout(contenuPage=~{:: .container}
                                                , titrePage=~{:: title}
                                                , ressources=~{})}">
<head>
    <title th:text="'Profil de vendeur ' + ${publicUtilisateur.pseudo}"></title>

</head>
<body>
<main class="container my-4">
    <h1 class="text-center mb-4" th:text="'Profil de vendeur' + ${publicUtilisateur.pseudo}"></h1>

    <div th:if="${publicUtilisateur != null}">
        <table class="table table-striped table-bordered">
            <tr>
                <td>Pseudo :</td>
                <td th:text="${publicUtilisateur.pseudo}"></td>
            </tr>
            <tr>
                <td>Numéro de téléphone :</td>
                <td th:text="${publicUtilisateur.telephone ?: 'Numéro de téléphone non renseigné'}"></td>
            </tr>
        </table>
    </div>

    <div th:if="${publicUtilisateur == null}">
        <p class="text-danger">Aucun utilisateur trouvé pour ce pseudo.</p>
    </div>
</main>
</body>
</html>
