<!DOCTYPE html>
<html lang="fr" xmlns:th="http://wwww.thymeleaf.org" data-th-replace="~{layout/layout :: layout(contenuPage=~{:: .container}
                                                                        , titrePage=~{:: title}
                                                                        , ressources=~{})}">
<head>
    <title th:text="${#authentication.name}"></title>
</head>
<body>
<main class="container my-4">
    <h1 class="text-center mb-4" th:text="${#authentication.name}"></h1>

    <div th:if="${utilisateur != null}">
        <table class="table table-striped table-bordered">
            <tr>
                <td>Prénom :</td>
                <td th:text="${utilisateur.prenom}"></td>
            </tr>
            <tr>
                <td>Nom :</td>
                <td th:text="${utilisateur.nom}"></td>
            </tr>
            <tr>
                <td>Email :</td>
                <td th:text="${utilisateur.email}"></td>
            </tr>
            <tr>
                <td>Téléphone</td>
                <td th:text="${utilisateur.telephone}"></td>
            </tr>
        </table>
    </div>
    <a th:href="@{/utilisateurs/edit/myProfile}" class="btn btn-primary">Modifier le profil</a>
    <a th:href="@{/utilisateurs/edit/myProfile/myPassword}" class="btn btn-secondary">Modifier le mot de passe</a>
    <div th:if="${utilisateur == null}">
        <p class="text-danger">Aucun utilisateur trouvé pour ce pseudo.</p>
    </div>
</main>
</body>
</html>
