<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layout/layout :: layout(contenuPage=~{:: .container}
                                                                        , titrePage=~{:: title}
                                                                        , ressources=~{:: #ressources}
                                                                        , scripts=~{:: script})}">
<head>
    <title th:text="${#authentication.name}"></title>
    <th:block id="ressources">
        <link rel="stylesheet" data-th-href="@{/css/profil.css}">
    </th:block>
</head>
<body>
<main class="container my-4">
    <div class="profilBox">
        <h1 class="text-center mb-4" th:text="${#authentication.name}"></h1>

        <div th:replace="~{profil/fragments/fragment-view-profil :: frag-view-profil}"></div>

        <div th:replace="~{profil/fragments/fragment-view-ventes :: frag-view-ventes}"></div>

        <div id="alert"></div>
    </div>
</main>
<script th:src="@{/js/fadeout.js}"></script>
</body>
</html>
