<div xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-form-edit-password">
    <!--/*@thymesVar id="userPasswordForm" type="fr.eni.eni_cda_enchere.form.UserPasswordForm"*/-->
    <form th:action="@{/utilisateurs/edit/myProfile/myPassword}" method="post" th:object="${userPasswordForm}">

        <div th:replace="~{fragments/errors/fragment-errors :: frag-errors}"></div>

        <div class="mb-3">
            <label for="motDePasseActuel" class="form-label" data-th-text="#{login.message}"></label>
            <input type="password" id="motDePasseActuel" th:field="*{motDePasseActuel}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="motDePasseNouveau" class="form-label" data-th-text="#{login.message.new}"></label>
            <input type="password" id="motDePasseNouveau" th:field="*{motDePasseNouveau}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="motDePasseConfirmation" class="form-label" data-th-text="#{login.message}"></label>
            <input type="password" id="motDePasseConfirmation" th:field="*{motDePasseConfirmation}" class="form-control"
                   required>
        </div>

        <div class="d-flex justify-content-center">
            <button type="reset" class="btn btn-outline-secondary me-2"
                    data-th-text="#{filter.reset_button}" onclick="window.history.back()">Annuler
            </button>
            <button type="submit" class="btn btn-primary" data-th-text="#{save_button}"></button>
        </div>
    </form>
</div>